<mat-card>
  <mat-card-title>Profil</mat-card-title>
  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
      <mat-form-field>
        <mat-label>Ime :</mat-label>
        <input matInput type="text" formControlName="firstName" required />
        <mat-error>Unesite Vaše ime.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prezime : </mat-label>
        <input matInput type="text" formControlName="lastName" required />
        <mat-error>Unesite Vaše prezime.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Broj mobitela :</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Datum rođenja</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true"></mat-datepicker>
      </mat-form-field>
      <mat-radio-group>
        <mat-label>Spol : </mat-label>
        <mat-radio-button value="1">Žensko</mat-radio-button>
        <mat-radio-button value="2">Muško</mat-radio-button>
      </mat-radio-group>
      <mat-card-actions>
        <button mat-raised-button color="warn" type="reset">Odustani</button>
        <button mat-raised-button color="primary" type="submit">Spremi</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
